<div>
  <br/>
  <input type='text' [(ngModel)]='filterByCustomerLastName'>
  <br/>
  <h2> Filter by workplace :{{filterByCustomerLastName}}</h2>
  <br/>
</div>
<div class="table-responsive">
<table  class="table" *ngIf='customers && customers.length'>
  <thead>
  <tr>
    <td>Workplace</td>
    <td>Location</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Position</td>
  </tr>
</thead>
<tbody>
<!--Orly - Custom pipe activation with the filter string-->
<tr *ngFor='let customer of customers|customerFilter:filterByCustomerLastName'>
<!--Orly - Built in uppercase pipe is used to format customer first name-->
<td>{{customer.Workplace}}</td>
<!--Orly - Built in lowercase pipe is used to format customer last name-->
<td>{{customer.Location}}</td>
<td>{{customer.StartDate}}</td>
<td>{{customer.EndDate}}</td>
<td>{{customer.Position}}</td>
<!--Orly - Note the way the property binding is used with the nested component-->
<!--<td> <fs-star [rating]='customer.rating'></fs-star></td>-->
</tr>
</tbody>
</table>
</div>
