<div>
  <br/>
  <input type='text' [(ngModel)]='filterByFlowerName'>
  <br/>
  <h2> Filter by Institution :{{filterByFlowerName}}</h2>
  <br/>
</div>
<div class="table-responsive">
<!--orly - *ngIf - if the data structure floweres in not empty the table is presented-->
  <table class="table" *ngIf='flowers && flowers.length'>
    <thead>
      <!--<th>-->
        <!--Orly - The text on the button toggles with the image state-->
       <!-- <button (click)='toggleImage()'>{{showImage?"Hide ":"Show "}}image</button>-->
     <!--</th>-->
    
      <tr>
        <!--table header-->
        <td>Institution</td>
        <td>Degree</td>
        <td>StartDate</td>
        <td>EndDate</td>
        <td>Grade</td>
      </tr>
    </thead>
    <tbody>
        <!--Orly - *ngFor- The table is filled with the data from the object array Iflower-->
        <!--Orly - Custom pipe activation - Note the activation of the custom pipe using the pipe name & the filtering string-->
        <tr *ngFor='let flower of flowers|flowerFilter:filterByFlowerName'>
            <!--Orly - one way data binding - interpulation is used to fill each table data element-->
            <td>{{flower.Institution}}</td>
            <td>{{flower.Degree}}</td>
            <td>{{flower.StartDate| date}}</td>
            <!-- Orly - currency pipe is used with parameters that control the currency & the way price is shown-->
            <td>{{flower.EndDate | date}}</td>
            <td>{{flower.Grade}}</td>
            <!--Orly - one way data binding - interpulation & property binding used to present the image-->
            <!--Orly - image is shown only if the flag showImage is true-->
            <!--<td><img src={{flower.imageUrl}} [style.width.px]='imageWidth' [style.margin.px]='imageMargin' *ngIf="showImage" /></td>-->
        </tr>
      </tbody>
    </table>
  </div>
